body{
    height: 100%;
    overflow: hidden;
}
@media ( max-width: 400px ){
    .intro-box{
        width: 100%;
        padding: 0 3%;
        min-width: 300px;
        height: 100%;
    }
}
/* 프로필 이미지 */
.profile-box{
    width: 100%;
    display: inline-block;
    /* padding: 5%; */
}
.profile-lbox {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
    display: inline-block;
    margin: 20px 30px;
}
.profile-rbox {
    width: 50%;
    height: 190px; 
    /* padding: 8% 10%; */
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

.profile-rbox p{
    padding-top: 75px;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 네비게이션 바 */
.nav-bar {
    width: 100%;
    display: inline-block;
    list-style: none;
    padding: 0;
    overflow: hidden;
    background-color: #3f814dc7;
}
.nav-bar li {
    width:20%;
    text-align: center;
    color: white;
    padding: 10px 15px;
    float: left;
    border:1px solid white;
/*    border:5px dashed white;*/
}
/* 내용 */
.content-box{
    width: 100%;
    height: 600px;
    background-color: #ff9e0038;
    overflow-y: scroll;
    font-size: 15px;
}
.content-child{
    display: block;
    padding: 15% 5%;
}
.title{
    font-size: 20px;
    display: inline-block;
}
.ion-icon{
    display: inline-block;
    padding: 0 2px;
}
p > ion-icon{
    margin-left:5%;
}

.attch_img{
    width: 300px;
    max-width: 300px;
    overflow:hidden;
    margin: 0 50px;
}
/*스크롤*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffb743e8;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff7f2ae6;
  }